/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* header part start */
    .menu {
        margin-left: 85%;
    }
    .header-content {
        padding-top: 93px;
    }
    .header-content h3 {
        font-size: 20px;
    }
    .header-content h1 {
        font-size: 44px;
        padding-bottom: 60px;
    }
    /* header part end */
    /* development part start */
    .dav-part {
        padding: 28px 0px;
    }
    .dav-content h1 {
        font-size: 40px;
        padding: 0px 0px 6px 17px;
        text-align: center;
    }
    .dav-content p {
        padding: 0px 45px;
        line-height: 25px;
        font-size: 14px;
        text-align: center;
        padding-bottom: 0px !important;
    }
    .dav-img img {
        width: 30%;
    }
    .dav-img {
        text-align: center;
    }
    /* development part end */
    /* brand part start */
    .branding-part {
        padding: 40px 0px;
    }
    .brand-img {
        text-align: center;
    }
    .brand-img img {
        width: 40%;
        padding: 0px;
    }
    .brand-content {
        padding: 30px 50px;
        text-align: center;
    }
    .brand-content h1 {
        font-size: 35px;
        padding-bottom: 0px;
    }
    .brand-content p {
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 0px !important;
    }
    /* brand part end*/
    /* fetured part start */
    .fetured-part {
        padding: 40px 0px;
    }
    .icon {
        margin-left: 0px !important;
        text-align: center;
    }
    .icon-content h3 {
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
    }
    .icon-content p {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }
    .coustom-pb {
        padding-bottom: 20px !important;
    }
    /* fetured part end */
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* header part start */
    .menu {
        margin-left: 86%;
    }
    .header-content {
        padding-top: 93px;
    }
    .header-content h3 {
        font-size: 18px;
    }
    .header-content h1 {
        font-size: 36px;
    }
    /* header part end */
    /* development part start */
    .dav-part {
        padding: 35px 0px;
    }
    .dav-content h1 {
        font-size: 25px;
        padding: 0px 0px 10px 17px;
    }
    .dav-content p {
        font-size: 14px;
        padding: 0px 20px;
        line-height: 23px;
        padding-bottom: 0px !important;
    }
    .dav-img img {
        width: 78%;
        margin-top: 90px;
    }
    /* development part end*/
    /* branding part start */
    .branding-part {
        padding: 35px 0px;
    }
    .brand-content {
        padding: 0px 15px;
    }
    .brand-content h1 {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .brand-content p {
        font-size: 14px;
        line-height: 28px;
    }
    .brand-img img {
        width: 80%;
        padding: 122px 0px;
    }
    /* branding part end */
    /* feturd part start */
    .fetured-part {
        padding: 60px 0px;
    }
    .icon {
        margin-left: 0px !important;
    }
    .icon i {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
    .coustom-pb {
        padding-bottom: 20px !important;
    }
    .icon-content {
        padding: 0px 33px;
    }
    .icon-content h3 {
        font-size: 16px;
    }
    .icon-content p {
        font-size: 14px;
        line-height: 25px;
    }
    /* feturd part end */
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* header part start */
    .menu {
        margin-left: 90%;
    }
    .header-content h3 {
        font-size: 18px;
    }
    .header-content h1 {
        font-size: 36px;
    }
    /* header part end */
    /* development part start */
    .dav-part {
        padding: 50px 0px;
    }
    .dav-content h1 {
        font-size: 50px;
        padding: 0px 0px 26px 17px;
    }
    .dav-content p {
        font-size: 16px;
        line-height: 28px;
    }
    .dav-img img {
        width: 92%;
        margin-top: 76px;
    }
    /* development part end */
    /* brand part start */
    .branding-part {
        padding: 50px 0px;
    }
    .brand-content {
        padding: 0px 45px;
    }
    .brand-content h1 {
        font-size: 45px;
    }
    .brand-content p {
        font-size: 16px;
        line-height: 28px;
    }
    .brand-img img {
        width: 100%;
        padding: 122px 0px;
    }
    /* brand part start */
    /* fetured part start */
    .icon {
        margin-left: 0px !important;
    }
    .icon-content p {
        font-size: 16px;
        line-height: 28px;
    }
    /* fetured part end */
    /*  */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}